@import url(../mobile/style.css);

#footer-id{
    position: relative;
    bottom: -2000px;
}

.buy-now{
    position: relative;
    top: -30px;
    left: 113px;
}

#terminators a{
    text-decoration: none;
}