* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: white;
}


#sidebar {
    position: fixed;
    width: 18%;
    height: 100%;
    right: -280px;
    top: 0px;
    background-color: rgb(107, 41, 41);
}

#sidebar li {
    color: white;
    font-size: 25px;
    padding: 20px;
    border-bottom: 1px solid white;
    text-align: center;
    list-style: none;

}

#sidebar li:hover {
    background-color: brown;
    cursor: pointer;
}

#sidebar li a {
    color: white;
    text-decoration: none;

}


.toggle-btn {
    position: absolute;
    right: -1200px;
    top: -0px;
    width: 100vw;
}

.toggle-btn span {
    display: block;
    background-color: rgb(240, 233, 233);
    margin: 3px 0px;
    position: relative;
    top: 30px;
    width: 30px;
    height: 5px;
    border-radius: 10px;
}

.toggle-btn span:hover {
    cursor: pointer;
}

#sidebar.active {
    transition: 0.5s;
    transition-timing-function: ease-in;
    top: 0px;
    right: 1px;

}


.container {
    border-bottom: 3px solid blue;
    height: 73px;
    position: sticky;
    top: 0px;
    background-color: black;
}

#item2 {
    position: absolute;
    top: 0px;
    left: 500px;

}

#item1:hover {
    border: 1px solid red;
    width: 280px;
    height: 72px;
    cursor: pointer;
}

#logo {
    width: 60px;
    position: absolute;
    top: 7px;
    left: 5px;
}

#logo:hover {
    border: 2px solid gold;
}

#better-buys {
    color: blueviolet;
    position: absolute;
    top: 1px;
    left: 100px;
    font-size: 30px;
    font-family: cursive;
}

#better-buys:hover {
    transition: 0.5s;
    color: rgb(48, 81, 110);
}

#tagline {
    color: yellow;
    position: absolute;
    top: 45px;
    left: 100px;
    font-size: large;
    width: 200px;
    border-radius: 10px;

}

#tagline:hover {
    transition: 0.5s;
    color: rgb(32, 142, 238);
    position: absolute;
    top: 45px;
    left: 100px;
    font-size: large;

}

#search-logo {
    width: 35px;
    position: absolute;
    top: 25px;
    left: 430px;
    z-index: 1;


}

#search-logo:hover {
    position: absolute;
    /* border: 2px solid rgb(120, 139, 204); */
    transition: 0.8s;
    border-radius: 5px;
    cursor: pointer;
    transform: rotate(360deg);


}

#search-bar {
    position: absolute;
    top: 25px;
    left: -90px;
    width: 500px;
    height: 35px;
    border-radius: 4px;
    font-family: cursive;
    font-size: 15px;
    text-align: center;
    border: 5px solid white;
    color: green;
    outline: 0%;
    border: 0;

}


#search-bar:focus {
    transition: 0.2s;
    height: 35px;
    outline: 4px solid gold;

}

#cart {
    position: absolute;
    top: 15px;
    left: 720px;
    width: 50px;
}

#cart:hover {
    border: 1px solid rgb(194, 164, 164);
    cursor: pointer;
    border-radius: 5px;
}

#login-btn {
    position: absolute;
    top: 20px;
    left: 530px;
    width: 150px;
    height: 38px;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 20px;
    
    font-weight: bolder;
    letter-spacing: 2px;
    outline: 0;
    border: 0;
}


#login-btn:hover{
    transition: 0.2s;
    background-color: white;
    cursor: pointer;
    color: blue;
    
}


.products-list {
    position: sticky;
    top: 70px;
    background-color: black;

}

.product {
    display: inline-block;
    position: relative;
    left: 350px;
    padding: 10px 30px;
}

.product-logo {
    width: 70px;
    transition: 0.5s;

}

.border {
    margin: 0%;
    padding: 0%;
    background-color: black;
    width: 98vw;
    height: 3vh;
}

.product-logo:hover {
    border: 1px solid yellow;
    box-shadow: -4px 5px 7px yellow;
    border-radius: 50px;
    cursor: pointer;
    transform: rotate(360deg);
}

#product4::after {
    content: "Mobiles";
    color: aliceblue;
    position: absolute;
    left: 40px;
    top: 90px;
    font-family: cursive;
    background-color: black;

}

#product3::after {
    content: "Electronics";
    color: aliceblue;
    position: absolute;
    left: 30px;
    top: 90px;
    font-family: cursive;
    background-color: black;

}

#product1::after {
    content: "Grocery";
    color: aliceblue;
    position: absolute;
    left: 40px;
    top: 90px;
    font-family: cursive;
    background-color: black;

}

#product5::after {
    content: "Fashion";
    color: aliceblue;
    position: absolute;
    left: 40px;
    top: 90px;
    font-family: cursive;
    background-color: black;

}

#product6::after {
    content: "Appliances";
    color: aliceblue;
    position: absolute;
    left: 25px;
    top: 90px;
    font-family: cursive;
    background-color: black;

}

#product2::after {
    content: "Furniture";
    color: aliceblue;
    position: absolute;
    left: 40px;
    top: 90px;
    font-family: cursive;
    background-color: black;

}

#terminators a{
    text-decoration: none;
    color: rgb(241, 240, 233);
}

.overview-footer a{
    text-decoration: none;
    color: antiquewhite;
}