*{
    margin: 0%;
    padding: 0%;
}

body{
    
}

#logo{
    position: absolute;
    width: 50px;
    top: -15px;
}
#logo:hover{
    border: 2px solid white;
}



header{
    background-color: rgb(70, 61, 48);
    height: 60px;
    margin: 0px 0px ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.nav ul{
    display: flex;
    flex-direction: row;
}
.nav ul li{
    list-style: none;
    padding: 0px 40px;
    font-size: 25px;
    color: aliceblue;
    
}
.nav ul a{
text-decoration: none;
    
}
.nav ul li:hover{
    transition: 0.5s;
    color: rgb(59, 143, 59);
    cursor: pointer;
    text-decoration: underline yellow;
}

#my-cart{
    font-family: cursive;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.container{
    margin: 20px 20px ;
}

th{
    text-align: left;
    height: 30px;
    background-color:rgb(70, 150, 70);
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
    color: aliceblue;
}

img{
    margin: 20px;
    width: 200px;
    display:inline-block;
}



table{
    width: 100%;
    border-collapse: collapse;
}

table tr td span{
    position: relative;
    top: -150px;
    left: 20px;
    font-size: 20px;
}

table tr td select{
   width: 150px;
   height: 30px;
   text-align: center;
}
table tr td option{
   text-align: center;
}

.total{
    font-size: 20px;
    
}

.total-price{
    position: absolute;
    left: 630px;
    border-top: 5px solid red;
    

}

.total-price tr td{
       padding: 10px 180px;
       font-size: 20px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.proceed-buy{
    position: relative;
    left: 220px;
    width: 400px;
    height: 40px;
    font-weight: bold;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gold;
    font-size: 18px;
    color: rgb(236, 248, 236);
    border: 0;
    letter-spacing: 2px;
}
a{
     text-decoration: none;
}

.proceed-buy:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(207, 187, 70);
}

.nav ul a{
    text-decoration: none;
    color: antiquewhite;
}
