@import url(../mobile/style.css);

#footer-id{
    position: relative;
    bottom: -2000px;
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table tr td{    /* Footer height */
        padding: 50px;
        display: flex;
        background-color: white;
        justify-content: center;
    }
    body{
        background-color: black;
    }
    
    .buy-now{
          position: absolute;
          justify-content: center;
          display: flex;
          align-items: center;
         
        }
        
        .addtocart{
            margin-top: 25px;
            position: absolute;
        
    }

   table tr td h1{
       position: relative;
       left: 0px;
    }
    
    .products-list{
       position: relative;
       left: -340px;
    }
    
    #footer-id {
        display: none;
       /* Footer height */
    position:absolute;
    bottom:0px;
    width:100%;
    height:60px;          /* Height of the footer */
    background:rgb(42, 57, 65);
    clear: both;
 }

 #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   

  }

  table tr td span{
      position: relative;
      left: 100px;
      margin: 2px;
      top: -20px;
  }

  #search-bar{
    position: absolute;
    width: 290px;
    top: 97px;
    left: -490px;
    color: #ccc;
    border: 1px solid black;
    background-color: rgb(243, 236, 236);
}

#cart{
    position: absolute;
    top: 90px;
    left: -190px;
    width: 45px;
}

#search-logo{
    display: none;
}
.products-list{
    width: 500px;
    position: absolute;
    top: 130px;
    left: -370px;
    background-color: transparent;
    
}
#tagline{
    width: 400px;
}

#login-btn{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: black;
    left: -235px;
}
}